.event-detail-title {
  margin-bottom: 0px;
}

.event-casual-name {
  margin-bottom: 30px;
}

.guidelines-outer-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.guidelines-container {
  list-style-type: disc;
  padding-left: 20px;
  width: 100%;
  max-width: 700px;
  font-size: 18px;
  /* display: flex;
    justify-content: start; */
}

.guideline-item {
  list-style-type: disc;
  text-align: start;
}

.sub-guideline-item {
  list-style-type: circle;
  margin-left: 30px;
}

.sub-sub-guideline-item {
  list-style-type: square;
  margin-left: 30px;
}

.margin {
  margin-left: 30px;
}

.numbers-list {
  list-style-type: decimal;
  margin-left: 30px;
}

.guideline-hightlight {
  color: rgb(210, 177, 76);
}

@media screen and (min-width: 768px) {
  .guidelines-container {
    font-size: 20px;
  }
}
